Chapter 2.35: Yamhill County Voters’ Pamphlet Code  Page 1 of 4

TITLE 2: COUNTY ADMINISTRATION

Chapter 2.35: Yamhill County Voters’ Pamphlet Code

TABLE OF CONTENTS
Section Title
I. DEFINITIONS
II. VOTERS’ PAMPHLET
2.35.02.01  Generally
2.35.02.02 Publication and Distribution
III. EXPLANATORY STATEMENTS
2.35.03.01 Measures Referred by Governing Body
2.35.03.02 Initiatives and Referendums by Petition; Effect of Ordinance Adopted Under OAR 165-
22-040(2)
2.35.03.03 Availability of Proposed Explanatory Statement to the Public
2.35.03.04 Challenge and Review of Explanatory Statements
IV. INTERGOVERNMENTAL AGREEMENTS
2.35.04.01 Intergovernmental Agreements
V. SHORT TITLE
 2.35.05.01 Short Title
VI. SEVERABILITY
 2.35.06.01 Severability

LEGISLATIVE HISTORY

SECTION 1 - DEFINITIONS
2.35.01.01 Except where a term is defined in Sections 2.35.01.02 to 2.35.01.05 of this  ordinance, the definitions
contained in ORS 251.005 and OAR 165-22-000 apply to this ordinance.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.01.02 “Board” means the Yamhill County Board of Commissioners.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.01.03 “City” means an incorporated city lying wholly or partially within Yamhill County.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

Chapter 2.35: Yamhill County Voters’ Pamphlet Code  Page 2 of 4
2.35.01.04 “District” has that meaning given by ORS 255.012.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.01.05 “Measure” means either of the following matters submitted to the people for approval or rejection at
an election; except a “measure” does not include the question of whether a person should be recalled from office:
(a) A proposed ordinance or other legislation referred by the governing body of a county, city or district; or
(b) A proposed ordinance or other legislation placed on the ballot by an initiative or referendum petition.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

SECTION 2 - VOTERS’ PAMPHLET
2.35.02.01 Generally. The county clerk may prepare, print and distribute a county voters ’ pamphlet for any
election held in Yamhill County. The county clerk is granted the discretion to determine whether, under all the
circumstances, the publication of a county voters ’ pamphlet for a given election is appropriate. This ordinance
does not impose a legal duty on the county clerk to publish a voters ’ pamphlet for all elections held in Yamhill
County.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.02.02 Publication and Distribution. When the county clerk determines that a county voters ’ pamphlet
should be published, ORS 251.305 to 251.440 and Division 22 of OAR Chapter 165 shall govern the publication
and distribution of the county voters’ pamphlet except as otherwise specifically provided in this ordinance.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

SECTION 3 - EXPLANATORY STATEMENTS
2.35.03.01 Measures Referred by Governing Body. The governing body of the county, a city or a district that
has referred a measure to the voters shall submit an explanatory statement to the county clerk within the time
allowed by Oregon law. If the governing body does not submit an explanatory statement within the time allowed,
the official responsible for drafting a ballot title for initiative measures for the governing body’s electoral district
shall submit an explanatory statement to the county clerk no later than 5 p.m. on the 3rd business day after the
deadline for filing a notice of election. If the official does not submit an explanatory statement, the county clerk
shall provide an explanatory statement.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.03.02 Initiatives and Referendums by  Petition; Effect of Ordinance adopted under OAR 165 -22-
040(2).  When an initiative measure or referendum measure by petition is certified for election, an explanatory
statement shall be included in the county voters’ pamphlet as provided in this subsection.
(a) County Measure. If the initiative or referendum measure is a county measure, an explanatory statement shall
be prepared and submitted by the official responsible for drafting a ballot title for initiative measures for the
county. The explanatory statement shall be filed with the county clerk no later than 5 p.m. on the 3rd business
day after the deadline for filing a notice of election had the measure been submitted by the governing body.
If the official does not file an explanatory statement, the county clerk shall provide an explanatory statement.
(b) C
ity or District Measures .
(i)  If the city or district has adopted an ordinance in accordance with OAR 165-22-40(2) that requires
its governing body to submit an explanatory statement, the governing body shall submit the
explanatory statement. The explanatory statement shall be filed with the county clerk no later than
5 p.m. on the 3rd business day after the deadline for filing a notice of election had the measure
been submitted by the governing body. If the governing body does not file an explanatory
statement, the county clerk shall provide an explanatory statement.
(ii)  If the city or district has not adopted an ordinance in accordance with OAR 165-22- 40(2) that
requires its governing body to submit an explanatory statement, an explanatory statement shall be
Chapter 2.35: Yamhill County Voters’ Pamphlet Code  Page 3 of 4
prepared and submitted by the official responsible for drafting a ballot title for initiative measures
for the city or district. The explanatory statement shall be filed with the county clerk no later than
5 p.m. on the 3rd business day after the deadline for filing a notice of election had the measure
been submitted by the governing body. If the official does not file an explanatory statement, the
county clerk shall provide an explanatory statement.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.03.03 Availability of Proposed Explanatory Statement to the Public . The county clerk shall keep
available to the public in the clerk’s office a full and complete copy of all explanatory statements filed under this
ordinance.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

2.35.03.04 Challenge and Review of Explanatory Statements.
(a) Any Yamhill County elector who is eligible to vote on the measure and is dissatisfied with the explanatory
statement submitted under this section may challenge the explanatory statement by filing a petition with the
county clerk no later than 5 p.m. on the 5th day after the deadline for filing the explanatory statement. The
petition shall request administrative review of the explanatory statement. The elector must include in the
request the reasons why the explanatory statement is not impartial, is insufficient or is unclear.
(b) Upon receipt of the petition described above, the county clerk shall schedule a hearing  to be conducted as
follows:
(i)  The hearing shall be conducted within 2 business days from the date the petition was filed.
(ii)  The clerk shall provide notice of the time and place of the hearing to the following persons:
1. If the statement explains a measure referred to the voters by the governing body, the clerk shall
notify the petitioner, the governing body and the  person who prepared the explanatory
statement.
2. If the statement explains a measure referred to the voters by initiative or referendum petition,
the clerk shall notify the petitioner, the governing body affected by the measure, the chief
petitioner of the initiative or referendum and the person who prepared the explanatory
statement.
(iii)  At the hearing, all persons entitled to notice from the clerk shall have the opportunity to present
evidence and testimony on the question of impartiality, sufficiency or clarity of the explanatory
statement.
(iv)  The county clerk may leave the explanatory statement in its original form or may modify the
explanatory statement. A final disposition shall be made by the county clerk within 24 hours of
the conclusion of the hearing.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

SECTION 4 - INTERGOVERNMENTAL AGREEMENTS
2.35.04.01 Intergovernmental Agreements. The county clerk may enter into intergovernmental agreements with
the Secretary of State pursuant to ORS 251.008 for the production and distribution of a county voters’ pamphlet.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

SECTION 5 - SHORT TITLE
2.35.05.01 Short Title. This ordinance may be referred to as the “Yamhill County Voters’ Pamphlet Ordinance.”
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

Chapter 2.35: Yamhill County Voters’ Pamphlet Code  Page 4 of 4
SECTION 6 - SEVERABILITY
2.35.06.01 Severability. All sections, subsections and paragraphs of this ordinance are severable. If any section,
subsection or paragraph is ruled invalid for any reason by the court of last resort, the other portions of this
ordinance shall be unaffected.
[ADOPTED VIA ORDINANCE NO. 568 eff 03/30/94]

LEGISLATIVE HISTORY

Adopted via Ordinance No. 425 on 01/29/1986, effective 01/29/1986
 Amended via Ordinance No. 429 on 06/04/1986, effective 06/04/1986
 Amended via Ordinance No. 440 on 02/11/1987, effective 02/11/1987, sunset on 01/20/1988
Amended via Ordinance No. 459 on 02/17/1988, effective 02/17/1988, sunset on 01/20/1989
Amended via Ordinance No. 473 on 01/25/1989, effective 01/25/1989, sunset on 05/16/1989
Amended via Ordinance No. 474 on 02/09/1989, effective 05/17/1989, sunset on 01/20/1991
Repealed via Ordinance No. 498 on 01/10/1990, effective 01/10/1990

Adopted via Ordinance No. 498 on 01/10/1990, effective 01/10/1990
 Repealed via Ordinance No. 568 on 03/30/1994, effective 03/30/1994

Adopted via Ordinance No. 568 on 03/30/1994, effective 03/30/1994