Zoning Ordinance
Section 1001.00 - Special Use Requirements
General Provisions

1001.01  Definition
Special uses are those uses which, due to unique characteristics, are subject to particular
requirements or standards which differ from or exceed those required of other uses in the
same zoning district. The specific standards and requirements for the special uses of this
ordinance are provided in Sections 1002 through 1013 .
1001.02  Applicable Standards and Procedures
The status of a special use as a permitted or conditional use shall be as specified in the
underlying zoning district and subject to the applicable standards of such district. In
addition:
A.  Special uses shall be subject to the applicable standards as set forth in Sections
1002 through 1013 ; and

B.  A special use which is a conditional use in the specific underlying zoning district
shall also be subject to the Type B application procedure set forth in Section 1301
and the conditional use permit review criteria in Section 1202 .

Return to the top of the document
Zoning Table of Contents
Main Planning Page